<h2 class="page-header">대시보드</h2>
<p></p>




{{items}}



<div class="container">
    <h4 class="page-header">내 돈</h4>
    <div class="panel panel-default">
        <div class="panel-body">정보</div>
    </div>
</div>



<p></p>


<div class="container">
    <h4 class="page-header">돈 넣기</h4>
    <div class="panel panel-default">
        <div class="panel-body">돈을 충전하세요.</div>
    </div>
</div>




<div class="container">
    <h4 class="page-header">돈 보내기</h4>
    <div class="panel panel-default">
        <div class="panel-body">원하는 사람에게 돈을 송금하세요.</div>
    </div>
</div>




<div class="container">
    <h4 class="page-header">돈 받기</h4>
    <div class="panel panel-default">
        <div class="panel-body">원하는 사람에게 돈을 요청하세요.</div>
    </div>
</div>


