{% extends 'ecoin/base.html' %}

{% block content %}
    {% if messages %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel teal">
                {% for message in messages %}
                    <span class="white-text">
	            {{ message.message }}
                    </span>
	        {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <form method="POST" class="col s12">{% csrf_token %}
            <div class="input-field col s8">
                {{ form }}
            </div>
	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'login_user' %}'">
               SIGNIN 
            </button>
	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signup" onclick="location.href='{% url 'signup' %}'">
               SIGNUP 
            </button>
        </form>
    </div>
    <br>
{% endblock content %}
