{% extends 'ecoin/base.html' %}

{% block content %}
    <h1>Refund</h1>
    <div class="row">
        <form method="POST" class="col s12">{% csrf_token %}
	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'logout_user' %}'">
               LOGOUT
            </button>
	    <p>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'charge' %}'">
               CHARGE
            </button>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'go_shopping' %}'">
               SHOPPING
            </button>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'refund' %}'">
               REFUND
            </button>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'remit' %}'">
               REMITTANCE
            </button>
        </form>
    </div>
    <br>
{% endblock content %}
