{% extends 'ecoin/base.html' %}

{% block content %}
    <h1>Remittance</h1>
    <div class="row">
        <form method="POST" class="col s12">{% csrf_token %}
	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'logout_user' %}'">
               LOGOUT
            </button>
	    <p>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'recharge_money' %}'">
               CHARGE
            </button>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'go_shopping' %}'">
               SHOPPING
            </button>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'refund' %}'">
               REFUND
            </button>

	    <button class="btn waves-effect waves-light btn-large col s2" type="button" name="action_ecoin_signin" onclick="location.href='{% url 'remit' %}'">
               REMITTANCE
            </button>
        </form>
    </div>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
	<li>
	    <div class="alert alert-{{message.level_tag}} role="alert">
	        {{ message.message }}
	    </div>
	</li>
	{% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <p>username: {{username}}</p>
        <p>real_money: {{coin_account.real_money}}</p>
        <p>ecoin: {{coin_account.ecoin}}</p>
    </div>
    <br>
    <form id="remit" method="post" action="{% url 'remit' %}">
	{% csrf_token %}
	{{remit_form.as_p}}
        <button class="btn waves-effect waves-light btn-large col s2" type="submit">
           REMIT
        </button>
    </form>
{% endblock content %}
